<p>Product List</p>
<div class="container">
    <div class="card">
        <div class="card-header">Product Info</div>
        <table>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            @for (product of products; track product.id) {
            <tr>
                <td>{{ product.title }}</td>
                <td><img [src]="product.image" width="100px" /></td>
                <td>
                    <a class="btn btn-warning" [routerLink]="['/products', product.id]">View</a>
                    <a class="btn btn-info" [routerLink]="['/admin/products/edit', product.id]">Edit</a>
                    <button class="btn btn-danger" (click)="handleDeleteProduct(product.id)">
                        Delete
                    </button>
                </td>
            </tr>
            }
        </table>
    </div>
</div>